
h1 { background: #800020; color: #fff; padding: 10px 20px; margin: 0 0 0px; font-size: 300%; }
h2 { font-size: 210%; color: #800020; margin-top: 10px;}

ul {
    padding: 40px 60px 0px;
}

ul li {
    font-size: 180%;
}

p {
	font-size: 180%;
    padding: 40px 60px;
	text-align: rigth;
	width: 100%;
}

i {
	font-style:italic;
}

pre {
	font-family: monospace;
	font-size: 16pt;
	height: 600px;
	letter-spacing: -1px;
	line-height: 20pt;
	overflow: auto;
	max-height: 300px;
}

.medium {
	max-height: 400px;
}

.big {
	max-height: 500px;
}

.smaller {
	max-height: 200px;
}

.small {
	max-height: 130px;
}

.full {
	max-height: 600px;
}
code {
	font-family: monospace;
}